.black-background {
  background-color: rgb(255, 255, 255);
}

.white-text {
  color: white;
}

.blue-header {
  color: rgb(20, 177, 221);
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.larger-image {
  width: 800px; 
  height: auto; 
}