.custom-button {
    background-color: #4caf50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    outline: none;
  }

  
  .custom-button:hover {
    background-color: #45a049;
  }
  
  .custom-button:active {
    background-color: #3e8e41;
  }
  .grey-background {
    background-color: #f0f0f0; /* Grey background color */
    padding: 20px; /* Adjust padding as needed */
    margin-bottom: 20px;
    margin-top: 20px;
  }
  
  .grey-background h4 {
    color: #333; /* Text color */
    text-align: center; /* Center-align the text */
  }
  .content{
    margin-bottom: 0px;
  }  
  .container {
    display: flex;
  }
  
  .text-area-container {
  
    flex: 1;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .text-area {
    width: 100%;
    height: 300px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
  }
  
  .heading {
    display: flex;
    color: rgb(8, 135, 238);
    margin-bottom: 10px;
    justify-content: flex-start;
    flex-direction: column;
  }
  
  /* Custom Add Row Button */
.btn-add-row {
  background-color: #00647a; /* Green */
  color: white;
}

.btn-add-row:hover {
  background-color: #01bce6;
}

/* Custom Delete Button */
.btn-delete {
  background-color: #f44336; /* Red */
  color: white;
}

.btn-delete:hover {
  background-color: #da190b;
}

/* Custom Generate Coverage Button */
.btn-generate-coverage {
  background-color:  #00647a; /* Blue */
  color: white;
}

.btn-generate-coverage:hover {
  background-color: #01bce6;
}
  
  